node_modules/
npm-debug.log
yarn.lock
package-lock.json

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log
debug.log

# OS-specific files
.DS_Store
Thumbs.db

# Build files
dist/
build/
out/
coverage/

# Editor/IDE files
.vscode/
.idea/
*.swp

# Git-related
.git/
.gitignor